@(message: String)

@main("Home Page") {

		
        <ul class="nav nav-pills">
          <li><a href="/""> In&iacute;cio</a></li>
          <li class="active"><a >Cadastrar uma nova Viagem</a></li>
          
        </ul>	
        <div class="container form-horizontal panel panel-primary text-info" >
        
       
		<center><h2><b>Cadastrar uma nova Viagem </b></h2></center>
		
		
		<form  method="post">
			<div class="col-lg-7">
			<h3>Adicionar nova Viagem:</h3><br>
			<input class="input-xxlarge" type="text" size="40" maxlength="30" placeholder="Destino da viagem" name="local">
			<br><br>
            <input class="input-xxlarge" type="text" size="90" maxlength="80" placeholder="Descricao" name="descricao"><br><br>
            
			<select name="dia">
				<option name="01">01</option>
				<option name="02">02</option>
				<option name="03">03</option>
				<option name="04">04</option>
				<option name="05">05</option>
				<option name="06">06</option>
				<option name="07">07</option>
				<option name="08">08</option>
				<option name="dia">09</option>
				<option name="dia">10</option>
				<option name="dia">11</option>
				<option name="dia">12</option>
				<option name="dia">13</option>
				<option name="dia">14</option>
				<option name="dia">15</option>
				<option name="dia">16</option>
				<option name="dia">17</option>
				<option name="dia">18</option>
				<option name="dia">19</option>
				<option name="dia">20</option>
				<option name="dia">21</option>
				<option name="dia">22</option>
				<option name="dia">23</option>
				<option name="dia">24</option>
				<option name="dia">25</option>
				<option name="dia">26</option>
				<option name="dia">27</option>
				<option name="dia">28</option>
				<option name="dia">29</option>
				<option name="dia">30</option>
				<option name="dia">31</option>
			</select>
			<select name = "mes">
				<option name="Janeiro">Janeiro</option>
				<option name="Fevereiro">Fevereiro</option>
				<option name="Março">Março</option>
				<option name="Abril">Abril</option>
				<option name="Maio">Maio</option>
				<option name="Junho">Junho</option>
				<option name="Julho">Julho</option>
				<option name="Agosto">Agosto</option>
				<option name="Setembro">Setembro</option>
				<option name="Outubro">Outubro</option>
				<option name="Novembro">Novembro</option>
				<option name="Desembro">Desembro</option>
			</select>
			<select name="ano">
				<option name="2014">2014</option>
				<option name="2015">2015</option>
				<option name="2016">2016</option>
				<option name="2017">2017</option>
				<option name="2018">2018</option>
			</select><br><br>
			<h3>Deseja deixar a participacao restrita?</h3>
			<input class="input-xxlarge" type="text" size="50" maxlength="50" placeholder="Senha" name="senha">
            </div>
            
            <br>
            
            <div class="col-lg-11">
			
			<br><br><center><input type="submit" class="btn btn-primary" value="Cadastrar">  </center><br><br></div>
             </form>
        
}