@(viagem: Viagem)

@main("Home Page") {
	<ul class="nav nav-pills">
          <li><a href="/"">Home</a></li>
          <li><a href="/criarViagem">Criar uma nova viagem</a></li>
          
        </ul>
	<div class="container form-horizontal panel panel-primary text-info" >
	<div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Local </th>
                            <th>Descricao </th>
                          
                            <th>Data</th>
                            
                            
                           
                        </tr>
                    </thead>
                    
                    <tbody>  
                                                  	
                        <tr>
                            <td>@viagem.getLocal()</td>
                            <td>@viagem.getDescricao()</td>
                                                  
                            <td>@viagem.getData()</td>
                            
                                                      
                        </tr> 
                                                         
                    </tbody>
                </table>
            </div></div>
	
      <div class="container form-horizontal panel panel-primary text-info" >

<div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nome </th>
                            <th>Email </th>
                        </tr>
                    </thead>
                    
                    <tbody>  
                    @for(usuario <- viagem.getParticipantes()){                                     	
                        <tr>
                            <td>@usuario.getNome()</td>
                            <td>@usuario.getEmail()</td>
                            
                                                     
                        </tr> 
                    }                                           
                    </tbody>
                </table>
            </div></div>

        
}