@(message: String)

@main("Home Page") {

		
        <ul class="nav nav-pills">
          <li><a href="/""> In&iacute;cio</a></li>
          <li class="active"><a >Cadastrar um novo Hackfest</a></li>
          
        </ul>	
        <div class="container form-horizontal panel panel-primary text-info" >
        
       
		<center><h2><b>Cadastrar uma nova Viagem </b></h2></center>
		
		
		<form  method="post">
			<div class="col-lg-7">
			<h3>Adicionar nova Viagem:</h3><br>
			<input class="input-xxlarge" type="text" size="40" maxlength="30" placeholder="Destino da viagem" name="local">
			<br><br>
            <input class="input-xxlarge" type="text" size="90" maxlength="80" placeholder="Descricao" name="descricao"><br><br>
            <input class="input-xxlarge" type="text" size="40" maxlength="10" placeholder="Data da viagem: dd/mm/aaaa" name="data"> <br>
            </div>
            
            <br>
            
            <div class="col-lg-11">
			
			<br><br><center><input type="submit" class="btn btn-primary" value="Cadastrar">  </center><br><br></div>
             </form>
        
}