@(viagem: Viagem)

@main("Home Page") {
	<ul class="nav nav-pills">
          <li><a href="/"">Home</a></li>
          <li><a href="/criarViagem">Criar uma nova viagem</a></li>
          
        </ul>
	<div class="container form-horizontal panel panel-primary text-info" >
	<div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Local </th>
                            <th>Descricao </th>
                          	<th>Organizador</th>
                            <th>Data</th>
                            
                            
                           
                        </tr>
                    </thead>
                    
                    <tbody>  
                                                  	
                        <tr>

                            @if(session().get("email").equals(viagem.getOrganizador().getEmail())){
                            <form action = "/editarViagem" method = "post">
                            	<td>@viagem.getLocal()</td>
                            	<td>
                            	<input class="input-xlarge" size="25" id="focusedInput" type="text" value="@viagem.getDescricao()" name=descricao>
                            	</td>
                            	<td>@viagem.getOrganizador().getNome()</td>
                            	<td>
                            	<input class="input-xlarge" size="25" id="focusedInput" type="text" value="@viagem.getData()" name=data>
                            	</td>
                            	<td>
                            	<input type="submit" class="btn btn-primary" value="Editar">
                            	</td>
                            </form>
                            }else{
                            	<td>@viagem.getLocal()</td>
                            	<td>@viagem.getDescricao()</td>
                            	<td>@viagem.getOrganizador().getNome()</td>                     
                            	<td>@viagem.getData()</td>
                            }
                                                      
                        </tr> 
                                                         
                    </tbody>
                </table>
            </div></div>
	
      <div class="container form-horizontal panel panel-primary text-info" >

<div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nome </th>
                            <th>Email </th>
                        </tr>
                    </thead>
                    
                    <tbody>  
                    @for(usuario <- viagem.getParticipantes()){                                     	
                        <tr>
                            <td>@usuario.getNome()</td>
                            <td>@usuario.getEmail()</td>
                            @if(session().get("email").equals(usuario.getEmail())){
                            <td>
                            	<form action="/desistirViagem" method="post">
                            		<input type="hidden" name="local" value="@viagem.getLocal()">                                   
                                	<input type="submit" class="btn btn-primary" value="Desistir">
                            	</form>
                            </td>
                            }else{
                            	<td></td>
                            }                              
                        </tr> 
                    }                                           
                    </tbody>
                </table>
            </div></div>

        
}