@(tema: String)
 <div class="container form-horizontal panel panel-primary text-info" >

<div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Local </th>
                            <th>Descricao </th>
                            <th>Data </th>
                            <th>A&ccedil;&otilde;es </th>
                        </tr>
                    </thead>
                    
                    <tbody>                                       	
                        <tr>
                            <td>getLocal()</td>
                            <td>getDescricao()</td>                            
                            <td>getData()</td>
                            <td>                                    
                                <input type="submit" class="btn btn-primary" value="Participar">                            
                            </td>                            
                        </tr>                                            
                    </tbody>
                </table>
            </div></div>
